<p>
  When 3 people grab a beer within 10 minutes of each other, it's Happy Hour time! With that said... it may or may not be 5 O'Clock, so proceed with caution. But... you should definitely join them!
<br/>
<br/>
  <em>P.S. If you would like to stop receiving these emails, please update your subscription settings in your profile.</em>
</p>
<p>
  <%= link_to "NumBeers", "#{root_url}" %>
</p>