<p>
  Just thought you should know that someone has decided it was 5 O'Clock somewhere and therefore has poured themselves a pint... Just saying, in case you wanted to join them.
<br/>
<br/>
  <em>P.S. If you would like to stop receiving these emails, please update your subscription settings in your profile.</em>
</p>
<p>
  <%= link_to "NumBeers", "#{root_url}" %>
</p>