<h1>NumBeers Dashboard</h1>
<p>Welcome NumBeer Admin! Do what you need to do.</p>

<div><%= link_to 'Manage Beers', beers_path %></div>

<div><%= link_to 'Manage Kegs', kegs_path %></div>

<h2>Manage Bills</h2>

<h2>Manage Users</h2>
  
  