
<p>Welcome NumBeer Admin! Do what you need to do.</p>

<div><%= link_to 'Manage Beers', beers_path %></div>

<div><%= link_to 'Manage Kegs', kegs_path %></div>

<div><%= link_to 'Manage Transactions', admin_transactions_path %></div>
  
  