body {
  margin:0;
  font: 15px Sans-serif;
}
.container {
 width:960px;
 margin:0 auto;
}
/*  Header Styling */
header {
}
/*  Navigation Styling */
nav {
}
.nav-link {
  display: inline-block;
  padding: 5px 5px;
  text-decoration: none;
  #margin-right: 15px;
  color: blue;
  font: 20px Sans-serif;
  
  &:hover {
    background:#ccc;
  }
  &:visited {
    color: blue;
  }
}
.nav-right{
  float: right;
}
/*  Content Styling */
.content {
 padding: 5px;
 background:white;
}
/* Message Styling */
.messages{
  color: orange;
  font: 18px;
  text-align:center;
}
/*  Footer Styling */
footer {
  color:#ccc;
  text-align:center;
}