.stat{
  h2 {
    background: #DDDDDD;
    margin: 0;
    font-size: 18px;
    padding: 10px 0px;
    border-radius: 10px 10px 0 0;
    line-height: 8px;
  }
  .stat_val{
    background: #EEEEEE;
    font-size: 30px;
    padding: 20px 0px;
    border-radius: 0 0 10px 10px;
    line-height: 1;
    min-height: 60px;
  }
  
  margin: 10px 5px;
}

.pie_stat{
  h2 {
    font-size: 18px;
  }
  .pie_stat_val{
    
  }
  
  margin: 10px 5px;
}