.stat{
  h2 {
    background: #EEEEEE;
    margin: 0;
    font-size: 18px;
    padding: 10px 0px;
    border-radius: 10px 10px 0 0;
  }
  .stat_val{
    background: #DDDDDD;
    font-size: 14px;
    padding: 20px 0px;
    border-radius: 0 0 10px 10px;
  }
  margin-top: 10px;
  margin-bottom: 10px;
  
}